#my-skill {
    font-family: 'Inter', sans-serif;
    margin-top: 125px;
}

#my-skill .row .col-lg-9 .card {
    background-color: #132347;
    border: none;
}

#my-skill .row .col-lg-9 .card .row .col-lg-3 .d-flex img {
    height: 33px;
    width: 33px;
}

#my-skill .row .col-lg-3 h2 {
    color: #0EA5E9;
    font-weight: 700;
}

@media screen and (max-width: 438px) {

    #my-skill .row .text-center p {
        font-size: 13px;
    }

    #my-skill .row .text-center h2 {
        font-size: 24px;
    }

    #my-skill .row .card .row .col-lg-3 .d-flex h6,
    #my-skill .row .card .row .col-lg-3 .d-flex p {
        font-size: 14px;
    }

}