.main .intro {
    min-height: 100vh;
    padding: 50px 30px;
}

.main .row .col h1 {
    font-family: 'Hurricane', cursive;
    font-size: 100px;
    color: #33BBDD;
}

.main .row .col h2 {
    color: #FFFFFF;
    line-height: 60px;
    font-size: 73px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.main .row .col h3 {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 60px;
}

.main .row .col {
    display: grid;
    justify-content: center;
}

#home .intro .col img {
    width: 100%;
    height: 480px;
}

@media screen and (max-width:1168px) {
    .main .row .col h1 {
        font-size: 80px;
    }

    .main .row .col h2 {
        font-size: 63px;
    }

    .main .row .col h3 {
        font-size: 50px;
    }
}

@media screen and (max-width:966px) {
    .main .row .col h1 {
        font-size: 100px;
    }

    .main .row .col h2 {
        font-size: 63px;
    }

    .main .row .col h3 {
        font-size: 50px;
    }

    #home .intro .col img {
        width: 100%;
        height: 580px;
    }
}