#experiences {
    font-family: 'Inter', sans-serif;
}

#experiences .subtitle h1 {
    color: #0EA5E9;
}

/* styling width splide js */
#experiences .experience-list {
    width: 70vh;
    min-height: 300px;
    background-color: #132347;
}

#experiences .experience-list .d-flex p span {
    color: #0EA5E9;
}