#educations {
    font-family: 'Inter', sans-serif;
    margin-top: 125px;
}

.educations .row .col-lg-3 .text-center h2 {
    color: #0EA5E9;
    font-weight: 700;
}

.educations .row .col-lg-9 .education-list {
    background-color: #132347;
}

.educations .timeline-item {
    padding: 0em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, .7);
    border-left: 2px solid #0EA5E9;
}

.educations .timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.785rem;
    color: #9D9D9D;
}

.educations .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 0;
    position: absolute;
    left: -6px;
    border-radius: 10px;
    content: '';
    border: 2px solid #0EA5E9;
    background: #0EA5E9;
}

.educations .timeline-item:last-child {
    border-image: linear-gradient(to bottom, #0EA5E9 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.col-lg-9 .education-list .title-education {
    background-color: #0EA5E9;
    color: #132347;
    width: max-content;
}

@media screen and (max-width: 438px) {

    #educations .row .text-center p {
        font-size: 13px;
    }


    #educations .row .text-center h2 {
        font-size: 24px;
    }

}

@media screen and (max-width: 420px) {
    #educations .row .col-lg-9 .row .container .timeline-item h5 {
        font-size: 18px;
    }

    #educations .row .col-lg-9 .row .container .timeline-item p {
        font-size: 14px;
    }

    #educations .row .col-lg-9 .row .container .text-secondary {
        font-size: 14px;
    }

    #educations .row .col-lg-9 .education-list .row .col .container .title-education {
        font-size: 14px;
    }
}

@media screen and (max-width: 394px) {
    .educations .timeline-item {
        padding: 0em 1em 2em;
    }
}

@media screen and (max-width: 364px) {
    #educations .row .col-lg-9 .row .container .timeline-item h5 {
        font-size: 16px;
    }

    #educations .row .col-lg-9 .row .container .timeline-item p {
        font-size: 13px;
    }

    #educations .row .col-lg-9 .row .container .text-secondary {
        font-size: 13px;
    }

}