#aboutMe {
    font-family: 'Inter', sans-serif;
}

#aboutMe .row .col img {
    height: 500px;
    width: 380px;
}

#aboutMe .row .col h4 {
    color: #33BBDD;
}

#aboutMe .AboutMySelf span {
    color: #33BBDD;
}