@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500&display=swap');



/* font-family: 'Hurricane', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232946 !important;

}

.main {
    padding: 0px;
}

nav ul li a {
    color: white !important;
    font-family: 'Inter', sans-serif;

}


nav .portofolio {
    width: 14%;
    color: #33BBDD;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

nav .navbar-collapse button {
    background-color: #33BBDD !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px
}

nav .portofolio p {
    font-size: 15px;
    color: #FFFFFF;

}

nav .navbar-collapse .navbar-nav .nav-item a:hover,
nav .navbar-collapse .navbar-nav .nav-item a.active {
    color: #33BBDD !important;
    font-weight: 600;
}

nav .navbar-collapse .navbar-nav .nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #33BBDD;
    transition: width .3s;
}

nav .navbar-collapse .navbar-nav .nav-item a:hover::after {
    width: 100%;

}

.navbarbgActive {
    background: rgba(211, 202, 202, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #33BBDD;

}

.line {
    fill: none;
    stroke: #33BBDD;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.title-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-section h1 {
    font-size: 62px;
    font-weight: bold;
    background: linear-gradient(to top, #232946, #FFFFFF);
    background-clip: text;
    color: transparent;
    margin: 0;
    opacity: 0.10;
    top: 40px;
}


.title-section h2 {
    font-size: 40px;
    font-weight: 600;
}

.caraosel .splide__track--draggable {
    border-radius: 9px;
}


@media screen and (max-width: 992px) {
    nav {
        background: rgba(211, 202, 202, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.4s;
    }
}

@media screen and (max-width: 438px) {
    .title-section h1 {
        font-size: 48px;
        top: 30px;
    }

    .title-section h2 {
        font-size: 30px;
    }

    nav .portofolio p {
        font-size: 13px;
        color: #FFFFFF;

    }

    nav .portofolio b {
        font-size: 13px;

    }
}

@media screen and (max-width: 358px) {
    nav .portofolio p {
        display: none;
    }

    nav .portofolio b {
        font-size: 15px;
        font-weight: 600;

    }
}

@media screen and (max-width: 334px) {
    .title-section h1 {
        font-size: 38px;
        top: 22px;
    }

    .title-section h2 {
        font-size: 26px;
    }
}