@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inter:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500&display=swap');


/* font-family: 'Hurricane', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    padding: 0 20px;
    background-color: #232946 !important;

}

nav ul li a {
    color: white !important;
    font-family: 'Poppins', sans-serif;

}


nav .portofolio {
    width: 50px;
    color: #33BBDD;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    white-space: nowrap;

}

nav .navbar-collapse button {
    background-color: #33BBDD !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px
}

nav .portofolio p {
    font-size: 15px;
    color: #FFFFFF;
}

nav .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #33BBDD !important;

}

nav .navbar-collapse .navbar-nav .nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #33BBDD;
    transition: width .3s;
}

nav .navbar-collapse .navbar-nav .nav-item a:hover::after {
    width: 100%;

}


.main .intro {
    min-height: 90vh;
}

.main .row .col h1 {
    font-family: 'Hurricane', cursive;
    font-size: 90px;
    color: #33BBDD;
}

.main .row .col h2 {
    color: #FFFFFF;
    line-height: 60px;
    font-size: 73px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.main .row .col h3 {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 70px;
}

.main .row .col {
    display: grid;
    justify-content: center;
}

.main .row .col:nth-child(2) img {
    height: 530px;
}

#aboutMe .row .col img {
    height: 500px;
    width: 380px;
}