#aboutMe {
    font-family: 'Inter', sans-serif;
}

#aboutMe .row .col-lg-auto img {
    height: 500px;
    width: 380px;
}

#aboutMe .row .col h4 {
    color: #33BBDD;
}

#aboutMe .AboutMySelf span {
    color: #33BBDD;
}

#aboutMe .row .col button {
    border: 1px solid #0EA5E9;
    color: #0EA5E9;
}