#aboutMe {
    font-family: 'Inter', sans-serif;
}

#aboutMe .row .col-lg-4 img {
    height: 500px;
    width: 100%;
}

#aboutMe .row .col-lg-4 h4 {
    color: #33BBDD;
}

#aboutMe .AboutMySelf span {
    color: #33BBDD;
}

#aboutMe .row .col-lg-8 .AboutMySelf button {
    border: 1px solid #0EA5E9;
    color: #0EA5E9;
}

@media screen and (max-width:1142px) {

    #aboutMe .row .col-lg-4 h5 {
        font-size: 16px;
    }

}

@media screen and (max-width:992px) {

    #aboutMe .row .col-lg-4 h5 {
        font-size: 20px;
    }

}

@media screen and (max-width:386px) {
    #aboutMe .row .col-lg-8 .AboutMySelf h4 {
        font-size: 19px;

    }

    #aboutMe .row .col-lg-8 .AboutMySelf h5 {
        font-size: 17px;

    }

    #aboutMe .row .col-lg-8 .AboutMySelf p {
        font-size: 14px;

    }
}